canvas { 
    background: url("https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAZBAAAAJDBmMTM2NTIwLWZkYWYtNDM0MC05NDAwLTAwNWI1MjQ0ZmZkZA.jpg");
	background-repeat:no-repeat;
	background: cover;
	background-size: 100%;

}